/*Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.rougeFonce-color {
  color: #640b0a;
}

.rougeFonce {
  background: #640b0a;
}

.rouge-color {
  color: #8e161c !important;
}

.rouge {
  background: #8e161c;
}

.bleu-color {
  color: #4682cb;
}

.bleu {
  background: #4682cb;
}

.white-color {
  color: #ffffff;
}

.white {
  background: #ffffff;
}

.typo-color {
  color: #303030;
}

.typo {
  background: #303030;
}

* {
  box-sizing: border-box;
}

h1, a {
  font-family: 'Roboto', sans-serif;
  color: #303030;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 14px;
  /* text-align: justify; */
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.26rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4682cb;
}

h4 {
  font-size: 1.20rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #303030;
}
h5 {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 1.20rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  z-index: 200;
  text-shadow: 2px 2px 0px black;
}
#slider-affiche-principal .item p {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 1.20rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  z-index: 200;
  text-shadow: 2px 2px 0px black;
}

a.bouton {
  margin-top: 1rem;
  border: 0px;
  background: #4682cb;
  color: #ffffff;
  border-radius: 7px;
  padding: 7px;
  font-weight: bold;
  transition: background 0.7s ease;
  webkit-webkit-transition: background 0.7s ease;
}
a.bouton:active, a.bouton:focus, a.bouton:hover {
  background: #8e161c;
}

a {
  text-decoration: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navigationTop {
  margin: 0 auto;
  overflow: auto;
}
.navigationTop ul {
  height: 50px;
}

.navigationTop .forResponsive{
  display: none;
}
.navigationTop ul li a {
  padding: 10px 8px 8px 0;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
}
.navigationTop ul li a i {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #8e161c;
  display: block;
  border-radius: 55px;
  padding: 6px;
}

.navigationBaseline {
  margin-right: 1rem;
  margin: 0 auto;
  overflow: auto;
}
.navigationBaseline h1 {
  padding-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
.navigationBaseline h1 a:hover {
  text-decoration: none;
  color: #ffffff;
}

.navigationBottom {
  margin: 0 auto;
  overflow: auto;
}
.navigationBottom ul {
  padding-left: 10px;
  list-style: none;
}
.navigationBottom ul li {
  float: left;
}
.navigationBottom ul li a {
  color:#fff;
  display: block;
  padding: 10px 15px;
  margin: 1rem 0;
  text-decoration: none;
  border-radius: 50px;
}
.navigationBottom ul li a:hover {
  background: #8e161c;
  color: #ffffff;
}

.sub-menu{
  position: absolute;
  z-index: 100;
  height: auto;
  background: #ce8382;
  padding-left:0 !important;

  display: none;
}

.sub-menu li{
  clear:both;
  background: #ce8382;
  border-bottom: #cecece;
  width:100%;
}

.sub-menu li a{
  clear:both;
  background: #ce8382;
  border-bottom: 1px solid #be6f6e;
  margin:0 !important;
  padding: 1rem !important;
  border-radius: 0px !important;
}
.sub-menu li a:active,
.sub-menu li a:focus,
.sub-menu li a:hover{
  background:#c57a79 !important;
}


.img-responsive {
  width: 100%;
}

section {
  background: #f5f5f5;
  margin: 0 auto;
}
section .imgStyle {
  padding: 0;
  margin: 0;
}
section .rowStyle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#slider-affiche-principal .item{
  max-height: 400px !important;
}

#slider-affiche-principal .img-slider{
  max-height: 400px !important;
}

#slider-affiche-principal .img-slider img{
  min-width: 100% !important;
  height: auto !important;
}

#slider-affiche-principal .owl-controls,#slider-affiche-principal .clickable{
  position: relative !important;
  margin-top: -3rem !important;
}

#slider-affiche-principal .owl-page span{
  background: white !important;
  opacity: 1 !important;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,1);
}

#slider .active span{
  background: #8e161c !important;
}


footer {
  border-top: 1px solid #ccc;
  background: #ededed;
  padding-bottom: 2rem;
}
footer .liensFooter {
  padding-top: 1rem;
}
footer .liensFooter h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
footer .liensFooter .lienStyle {
  padding: 1rem 1rem 0 0;
}
footer .liensFooter .lienStyle li {
  list-style: none;
}
footer .liensFooter .lienStyle li a {
  font-weight: bold;
  color: #303030;
}
footer .liensFooter .lienStyle li a:active, footer .liensFooter .lienStyle li a:hover, footer .liensFooter .lienStyle li a:focus {
  color: #8e161c;
  text-decoration: none;
}

.presentation{
  margin-top:50px !important;
}



#volontaire p{
  text-align: center;
  padding: 1rem 0;
  color:white !important;
  font-size: 1.15rem;
}

.margin-top{
  margin-top:2rem;
}

.contentActivite{
  padding-right: 2rem;
}

.contentActivite .date{
  margin-bottom: 1rem;
}
.contentActivite h3{
  margin-top: 1rem;
}

.pagination{
  margin: 0;
  margin-left: -15px;
}

.pagination li a{
  border: 0px solid black;
  color:#4682cb;
  background: #f5f5f5;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
  color:white;
  background: #8e161c;
  transition: color 0.7s ease, background 0.7s ease;
  webkit-webkit-transition: color 0.7s ease, background 0.7s ease;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background:  #4682cb;
}

.manifestations a.bouton{
  margin-top:0;
}

.manifestations h3{
  margin-bottom: 8px;
}

.manifestations h3 a{
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4682cb;
    text-decoration: none;
}
.manifestations h3 a:hover{
  color: #8e161c;
  transition: color 0.7s ease;
  webkit-webkit-transition: color 0.7s ease;
}

.manifestations p{
  margin-bottom: 8px;
}

.manifestations i{
  color: #8e161c;
  padding-right: 7px;
}
.manifestations i:nth-child(2){
  padding-left: 7px;
}

.calendrier{
  padding:1.5rem 0 0 0; 
}
.date_month{
  max-width: 70px;
  text-transform: uppercase;
  color:white;
  text-align: center;
  padding: 8px;
  background: #640b0a;
  margin-bottom: 0 !important;
  border-radius: 10px 10px 0 0;
}

.date_day{
  max-width: 70px;
  text-align: center;
  padding:7px 15px;
  border:2px solid #640b0a;
  border-radius: 0 0 10px 10px;
  color:#4682cb;
  font-weight: bold;
}

#slider-affiche-principal .owl-carousel .owl-wrapper-outer{
  -webkit-box-shadow: 0 1px 5px 0 rgba(50,50,50,0.9) !important;
  box-shadow: 0 1px 5px 0 rgba(50,50,50,0.9) !important;
}

.manifestations .rowStyle{
  margin-top: 0;
  margin-bottom: 1rem;
}
.manifestations .btn-primary{
  background: #640b0a;
}

.manifestations a.bouton:active,.manifestations  a.bouton:focus,.manifestations  a.bouton:hover {
  background: #4682cb;
}

section{
  padding-bottom: 2rem;
}

.rowCalendar{
  padding: 1rem;
}
.rowCalendar:nth-child(odd){
  background:#e6e7e8;
}

.paddingCategory{
  border-top: 2px solid #8e161c;
  padding: 1rem;
  background: white;
  margin-bottom: 10px;
}

.partenaireCategory h3{
  color:#737171;
  margin-bottom: 1rem;
}

.partenaireCategory h3::first-letter {
    color: #8e161c;
}

.partenaireCategory a.bouton {
  margin-top: 1rem;
  border: 0px;
  background: #4682cb;
  color: #ffffff;
  border-radius: 7px;
  padding: 7px;
  font-weight: bold;
  transition: background 0.7s ease;
  webkit-webkit-transition: background 0.7s ease;
}
.partenaireCategory a.bouton:active, .partenaireCategory a.bouton:focus,.partenaireCategory a.bouton:hover {
  background: #8e161c;
}


.paddingClubs{
  border-top: 2px solid #8e161c;
  padding: 1rem;
  background: white;
  margin-bottom: 10px;
  min-height: 225px;
}

.partenaireClubs h3{
  color:#737171;
  margin-bottom: 1rem;
}

.partenaireClubs h3::first-letter {
    color: #8e161c;
}

.partenaireClubs a.bouton {
  margin-top: 1rem;
  border: 0px;
  background: #4682cb;
  color: #ffffff;
  border-radius: 7px;
  padding: 7px;
  font-weight: bold;
  transition: background 0.7s ease;
  webkit-webkit-transition: background 0.7s ease;
}
.partenaireClubs a.bouton:active, .partenaireClubs a.bouton:focus,.partenaireClubs a.bouton:hover {
  background: #8e161c;
}

.logoBg{
  background: white;
}
.item img{
  max-width: 200px;
  background: white;
}

footer .lienUtile h4 {
  margin-top: 1rem;
  text-align: center;
  background: #303030;
  color: white;
  padding: 1rem 1rem;
  margin-bottom: 0;
}

footer .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-left: 2rem;
}

footer .owl-theme .owl-controls .owl-page span {
  background: #8e161c;
  margin-bottom: 1rem;
}

.footer2{
  background: #f5f5f5;
  text-align: center;
  padding: 1rem 0;
}
.colForm{
  clear: both;
  margin:0 -15px;
}

.messageSucess{
  display: none;
}

.googleMap{
  overflow: hidden;
}

.form-control{
  font-family: 'Roboto', sans-serif;
}

.form-control:focus {
    border-color: #8e161c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(142,22,28,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(142,22,28,.6);
}

#formulaire button{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    border: 0px;
    background: #4682cb;
    color: #ffffff;
    border-radius: 7px;
    padding: 7px;
    font-weight: bold;
    transition: background 0.7s ease;
    webkit-webkit-transition: background 0.7s ease;
}

#formulaire button:active, #formulaire button:focus, #formulaire button:hover {
  background: #8e161c;
}

#menu-footer li a {
  text-decoration: none;
  font-weight: bold;
}

#menu-footer li a:hover {
  text-decoration: none;
  font-weight: bold;
  color:#8e161c;
}

.entry-content{
  margin-top: 1rem;
}

.paddingContainer{
  padding-top: 1rem;
}

.retourArrow:hover{
  color:#8e161c !important;
  padding:1rem 0;
}

.heightPartenaire{
      min-height: 292px;
}

.alignright{
  float: right;
  margin: 10px 0 10px 10px;
}

.alignleft{
  float: left;
  margin: 10px 10px 10px 0;
}

label{
  font-family: 'Roboto', sans-serif !important;
}

.n2-style-10002-dot{
  background: white !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,1); !important;
}

.n2-active{
  background:#8e161c !important ;
}

.facetwp-dropdown {
  font-family: 'Roboto', sans-serif !important;
    display: block !important;
    width: 100% !important;
    padding: .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    color: #464a4c !important;
    background-color: #fff !important;
    background-image: none !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
}

.form-control{
  margin-bottom: 1rem !important;
}

#n2-ss-1 .n2-style-ef33d9149525c4afb4ba031e6eb66c9e-heading{
  background: rgba(0,0,0,0) !important;
  text-shadow: 2px 2px 0 #000000 !important;
}


@media only screen and (max-width : 780px) {

  .navigationTop .forResponsive{
    display: block;
  }
  
  .navigationBaseline .left {
    padding: 1rem;
    text-align: center;
  }

  .navigationBaseline .right{
    width: 100%;
    display: none;
  }
  
  .navigationTop{
    padding-left: 1rem;
  }
  
  .menu-navigation-header-container ul li {
    width: 100%;
  }

  section{
    padding: 1rem;
  }

  .menu-navigation-header-container{
    display: none;
  }

  .presentation .bouton{
  margin-bottom: 2rem;
}

}



/* Wordpress par defaut */

/*  Using ‘class= »alignright »‘ on an image will (who would’ve
thought?!) align the image to the right. And using ‘class= »centered’,
will of course center the image. This is much better than using
align= »center », being much more futureproof (and valid) */

img.centered {
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}

img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}

.alignright {
float: right;
}

.alignleft {
float: left
}
/* End Images */

/* Captions */
.aligncenter,
div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}

.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}
/* End captions */